.foot {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    background-color: $colorPrincipal;
    color: $colorFondoTarjetas;
    font-family: $fuentePrincipal;
    font-size: 15px;
    .legal {
        a {
            text-decoration: none;
            color: $colorFondoTarjetas;
        }
        p {
            padding: 4px;
        }
    }
    .sub {
        p {
            padding: 10px 0px;
        }
        .sub-input {
            padding: 5px;
            border-radius: 10px;
            border: 2px solid $colorBorde;
        }
        .sub-btn {
            color: #ffffff;
            background-color: $colorPrimarioSuscribirse;
            padding: 5px 10px;
            border-radius: 10px;
            border: 2px solid $colorPrimarioSuscribirse;
            &:hover {
                background-color: $colorSecundarioSuscribirse;
                border: 2px solid $colorSecundarioSuscribirse;
            }
        }
    }
    @media (max-width:1200px) {
    
        .foot {
            font-size: 13px;
        }
    }
    
    @media (max-width:992px) {
        
        .sub {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                padding: 5px;
                margin: 3px;
            }
        }
    
    }
    
    @media (max-width:768px) {
        
        .foot{
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;
            font-size: 15px;
        }
    }
    
}

