$colorPrincipal:#1c285e;
$colorBotonIndex:#045aa0;
$colorBorde:#000;
$colorBotonSecundarioIndex:#1c285e;
$colorBotonComprar:#0D6EFD;
$colorTituloIndex:#39b9ef;
$colorFondoTarjetas:#fff;
$colorFondo:rgba(10, 34, 138, 0.425);
$colorSombracaja:rgba(7,67,99,0.78);
$colorPrimarioSuscribirse:#ff0000;
$colorSecundarioSuscribirse:#920000;
$colorLoading:#181449c9;
$fuentePrincipal:'Lora', serif;
$fuenteSecundaria:serif;
