* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grilla .tarjeta-lentes, .tarjeta-container .tarjeta {
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 9px 11px -1px rgba(7, 67, 99, 0.78);
  -webkit-box-shadow: 5px 9px 11px -1px rgba(7, 67, 99, 0.78);
  -moz-box-shadow: 5px 9px 11px -1px rgba(7, 67, 99, 0.78);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 1.5s;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(24, 20, 73, 0.7882352941);
  z-index: 30000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading i {
  color: #fff;
  font-size: 64px;
  animation-name: rotar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes rotar {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.nav {
  display: flex;
  flex-direction: column;
}
.nav a {
  text-decoration: none;
  color: #fff;
}
.nav .nav1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #1c285e;
}
.nav .nav1 .nav-logo {
  padding: 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}
.nav .nav1 .nav-logo img {
  width: 100px;
  height: 80px;
  object-fit: cover;
}
.nav .nav1 .nav-title {
  font-size: 50px;
  font-family: "Lora", serif;
  font-style: italic;
}
.nav .nav1 .nav-icons {
  margin: 20px;
  font-size: 30px;
}
.nav .nav1 .nav-icons .nav-user, .nav .nav1 .nav-icons .nav-cart {
  margin: 10px;
}
.nav .navegador {
  background-color: #1c285e;
  font-family: "Lora", serif;
  font-style: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav .navegador > ul > li {
  display: inline-block;
}
.nav .navegador > ul > li > ul {
  display: none;
  background-color: #1c285e;
  list-style: none;
}
.nav .navegador > ul > li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
.nav .navegador > ul > li:hover ul {
  display: block;
  position: absolute;
}
.nav #menu, .nav #menu-check {
  display: none;
}
@media (max-width: 992px) {
  .nav .nav-logo img {
    width: 80px;
    height: 64px;
  }
  .nav .nav-title {
    font-size: 40px;
  }
  .nav .nav-icons {
    font-size: 25px;
  }
  .nav .navegador ul li a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .nav #menu-check:not(:checked) ~ .navegador {
    display: none;
  }
  .nav #menu-check:checked ~ .navegador {
    display: block;
  }
  .nav #menu {
    display: block;
    color: #fff;
    background-color: #1c285e;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    z-index: 300;
  }
  .nav #menu-cerrar {
    display: none;
  }
  .nav #menu-check:checked ~ label #menu-abrir {
    display: none;
  }
  .nav #menu-check:checked ~ label #menu-cerrar {
    display: block;
  }
  .nav .navegador {
    top: 136px;
    left: 0;
    height: 100%;
    opacity: 0.85;
    font-size: 25px;
  }
  .nav .navegador ul {
    display: block;
    text-align: left;
  }
  .nav .navegador ul li {
    display: block;
    text-align: left;
  }
}
@media (max-width: 576px) {
  .nav .nav-logo img {
    width: 64px;
    height: 51px;
  }
  .nav .nav-title {
    font-size: 30px;
  }
  .nav .nav-icons {
    font-size: 20px;
  }
  .nav .navegador {
    top: 123px;
  }
  .nav .navegador ul li a {
    font-size: 16px;
  }
}
@media (max-width: 450px) {
  .nav .nav1 {
    justify-content: center;
  }
  .nav .nav1 .nav-icons {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .nav .navegador {
    top: 212px;
  }
}

.index {
  background-color: rgba(10, 34, 138, 0.425);
}
.index .carousel-item {
  z-index: -1000000;
}
.index .glasses {
  width: 100%;
  height: 150px;
  background-image: url(../img/fondo-lentes-receta.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.index .sunglasses {
  width: 100%;
  height: 150px;
  background-image: url(../img/fondo-lentes-sol.jpg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
}
.index .contact-lenses {
  width: 100%;
  height: 150px;
  background-image: url(../img/fondo-lentes-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.index .glasses-title, .index .sunglasses-title, .index .contact-lenses-title {
  font-size: 40px;
  font-family: "Lora", serif;
  font-style: italic;
  font-weight: bold;
}
.index .glasses-title, .index .sunglasses-title, .index .contact-lenses-title {
  color: #39b9ef;
}
@media (min-width: 500px) {
  .index .sunglasses {
    background-position-y: -140px;
  }
  .index .contact-lenses {
    background-position-y: -50px;
  }
}
@media (min-width: 768px) {
  .index .sunglasses {
    background-position-y: -200px;
  }
  .index .contact-lenses {
    background-position-y: -80px;
  }
  .index .slider img {
    height: 400px;
    object-fit: cover;
  }
  .index .glasses-title, .index .sunglasses-title, .index .contact-lenses-title {
    font-size: 60px;
  }
}
@media (min-width: 992px) {
  .index .sunglasses {
    background-position-y: -250px;
  }
  .index .contact-lenses {
    background-position-y: -140px;
  }
  .index .slider img {
    height: 500px;
    object-fit: cover;
  }
}
@media (min-width: 1200px) {
  .index .sunglasses {
    background-position-y: -350px;
  }
  .index .contact-lenses {
    background-position-y: -250px;
  }
  .index .slider img {
    height: 650px;
    object-fit: cover;
  }
}

.tarjeta-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 0;
}
.tarjeta-container .tarjeta {
  border: 2px solid #000;
  margin: 10px 0;
}
.tarjeta-container .tarjeta:hover {
  transform: scale(1.1);
}
.tarjeta-container .tarjeta .tarjeta-img {
  width: 250px;
  height: 40%;
  overflow: hidden;
  object-fit: cover;
}
.tarjeta-container .tarjeta .tarjeta-btn {
  padding: 7px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #045aa0;
  color: #fff;
  font-style: bold;
  font-family: "Lora", serif;
}
.tarjeta-container .tarjeta .tarjeta-btn:hover {
  background-color: #1c285e;
  border: 2px solid #1c285e;
}
@media (max-width: 1300px) {
  .tarjeta-container .tarjeta {
    margin: 20px 80px;
  }
}
@media (max-width: 500px) {
  .tarjeta-container .tarjeta {
    margin: 20px 10px;
  }
}

.grilla {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-around;
}
.grilla .tarjeta-lentes {
  margin: 10px;
  border: 2px solid #1c285e;
}
.grilla .tarjeta-lentes:hover {
  transform: scale(1.02);
}
.grilla .tarjeta-lentes .tarjeta-lentes-img {
  width: 250px;
  height: 40%;
  overflow: hidden;
  object-fit: cover;
}
.grilla .tarjeta-lentes .tarjeta-lentes-title {
  margin: 0;
}
.grilla .tarjeta-lentes .tarjeta-lentes-desc {
  margin: 0;
}
.grilla .tarjeta-lentes .tarjeta-lentes-btn {
  margin: 3px;
  padding: 8px 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid #000;
  background-color: #0D6EFD;
  color: #fff;
  font-style: bold;
  font-family: "Lora", serif;
}
.grilla .tarjeta-lentes .tarjeta-lentes-btn:hover {
  background-color: #045aa0;
  border: 2px solid #045aa0;
}

.page-title {
  font-size: 45px;
  font-family: "Lora", serif;
  margin: 40px;
}

.lentes, .accesorios {
  background-color: rgba(10, 34, 138, 0.425);
}

.marcas {
  background-color: rgba(10, 34, 138, 0.425);
}
.marcas .main-marcas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px 650px 650px;
  gap: 20px;
  grid-template-areas: "title title" "marca1  marca2" "marca3  marca4";
}
.marcas .title-marcas {
  grid-area: title;
  font-size: 45px;
  font-family: "Lora", serif;
  padding: 10px;
  margin: 10px;
  justify-self: start;
}
.marcas .marca1-img, .marcas .marca2-img, .marcas .marca3-img, .marcas .marca4-img {
  width: 200px;
  height: 140px;
  object-fit: cover;
}
.marcas .marca1, .marcas .marca2, .marcas .marca3, .marcas .marca4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.marcas .marca1 {
  grid-area: marca1;
}
.marcas .marca2 {
  grid-area: marca2;
}
.marcas .marca3 {
  grid-area: marca3;
}
.marcas .marca4 {
  grid-area: marca4;
}
@media (max-width: 1200px) {
  .marcas .main-marcas {
    grid-template-columns: 1fr;
    grid-template-rows: 90px 650px 650px 650px 650px;
    grid-template-areas: "title" "marca1" "marca2" "marca3" "marca4";
  }
}
@media (max-width: 768px) {
  .marcas .main-marcas {
    grid-template-columns: 1fr;
    grid-template-rows: 70px 400px 400px 400px 400px;
    grid-template-areas: "title" "marca1" "marca2" "marca3" "marca4";
  }
  .marcas .title-marcas {
    font-size: 30px;
  }
  .marcas .video iframe {
    width: 100%;
    height: 100%;
  }
}

.quienes-somos {
  background-color: rgba(10, 34, 138, 0.425);
}
.quienes-somos .container-img, .quienes-somos .container-img1 {
  width: 450px;
  height: 300px;
}
.quienes-somos .main-quienes-somos {
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 1fr;
  gap: 20px;
  grid-template-areas: "title title" "img1  text1" "text2 img2";
}
.quienes-somos .main-quienes-somos .page-title-quienes-somos {
  grid-area: title;
  align-self: start;
  justify-self: start;
  margin-left: 20px;
  font-size: 45px;
  font-family: "Lora", serif;
}
.quienes-somos .main-quienes-somos .container-img, .quienes-somos .main-quienes-somos .container-img1 {
  align-self: center;
  justify-self: center;
}
.quienes-somos .main-quienes-somos .container-img {
  grid-area: img1;
}
.quienes-somos .main-quienes-somos .container-img1 {
  grid-area: img2;
}
.quienes-somos .main-quienes-somos .container-desc, .quienes-somos .main-quienes-somos .container-desc1 {
  align-self: center;
  justify-content: center;
  padding: 40px;
  font-size: 18px;
}
.quienes-somos .main-quienes-somos .container-desc {
  grid-area: text1;
}
.quienes-somos .main-quienes-somos .container-desc1 {
  grid-area: text2;
}
@media (max-width: 992px) {
  .quienes-somos .main-quienes-somos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: "title" "img1" "text1" "img2" "text2";
  }
  .quienes-somos .main-quienes-somos .page-title-quienes-somos {
    font-size: 40px;
    font-family: "Lora", serif;
  }
  .quienes-somos .main-quienes-somos .container-desc1, .quienes-somos .main-quienes-somos .container-desc {
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .quienes-somos .container-img, .quienes-somos .container-img1 {
    width: 350px;
    height: 200px;
  }
  .quienes-somos .container-desc1, .quienes-somos .container-desc {
    padding: 10px;
  }
}

.contact {
  background-color: rgba(10, 34, 138, 0.425);
}
.contact .title-contacto {
  font-size: 45px;
  margin: 20px;
  font-family: "Lora", serif;
}
.contact .main-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.contact .main-contacto .formulario {
  width: 500px;
  height: auto;
  margin: 10px;
  padding: 10px;
}
.contact .main-contacto .formulario .form-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.contact .main-contacto .formulario .form-contacto .label {
  width: 100%;
  font-family: serif;
  font-size: 17px;
  font-weight: 400;
}
.contact .main-contacto .formulario .form-contacto .label .control-form1 {
  width: 100%;
  height: 30px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 10px 0px;
}
.contact .main-contacto .formulario .form-contacto .label .control-form2 {
  width: 100%;
  height: 100px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 10px 0px;
}
.contact .main-contacto .formulario .form-contacto .control-btn {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  margin: 10px 0px;
  background-color: #045aa0;
  border: 2px solid #000;
  font-family: serif;
  font-size: 17px;
  color: #fff;
}
.contact .main-contacto .formulario .form-contacto .control-btn:hover {
  background-color: #1c285e;
}
.contact .main-contacto .info {
  width: 500px;
  height: auto;
  margin: 20px;
  padding: 20px;
  overflow: hidden;
}
.contact .main-contacto .info p {
  margin: 10px;
}
.contact .main-contacto .info .location-map {
  margin: 10px;
}
@media (max-width: 1200px) {
  .contact .main-contacto {
    justify-content: center;
  }
  .contact .main-contacto .formulario {
    width: 100%;
  }
  .contact .main-contacto .formulario .form-contacto .label {
    width: 60%;
  }
  .contact .main-contacto .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .main-contacto .info p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contact .label {
    width: 100%;
  }
}

.foot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #1c285e;
  color: #fff;
  font-family: "Lora", serif;
  font-size: 15px;
}
.foot .legal a {
  text-decoration: none;
  color: #fff;
}
.foot .legal p {
  padding: 4px;
}
.foot .sub p {
  padding: 10px 0px;
}
.foot .sub .sub-input {
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #000;
}
.foot .sub .sub-btn {
  color: #ffffff;
  background-color: #ff0000;
  padding: 5px 10px;
  border-radius: 10px;
  border: 2px solid #ff0000;
}
.foot .sub .sub-btn:hover {
  background-color: #920000;
  border: 2px solid #920000;
}
@media (max-width: 1200px) {
  .foot .foot {
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  .foot .sub {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foot .sub p {
    padding: 5px;
    margin: 3px;
  }
}
@media (max-width: 768px) {
  .foot .foot {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    font-size: 15px;
  }
}